* {
    background-color: #1f1f35;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -10px 0 0 123px;
    & h1 {
        color: #f5f5fa;
        font-size: 24px;
    }
    & section {
        margin-left: 511px;
        & ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-top: 21px;
            & li a{
                text-decoration: none;
                color: #b0b0b8;
                padding: 18.7px;
                font-size: 14px;
            }
        }
    }
}

aside {
    margin: 95.5px 0 0 123px;
    display: flex;
    flex-direction: column;
    & h2{
        color: #f5f5fa;
        font-size: 54px;
        width: 376px;
    }
    p {
        width: 500px;
        margin-top: -36px;
        font-size: 18px;
        color: #f5f5fa;
    }
    button {
        width: 11%;
        height: 43px;
        background-color: #1c8eda;
        color: #f5f5fa;
        font-size: 16.5px;
        font-weight: bold;
        padding: 0px 6px 3px 6px;
        border: none;
        border-radius: 13px;
    }
}

.hero-image {
    width: 500px;
    height: 250px;
    background-color: #efefef;
    border-radius: 25px;
    display: flex;
    margin: -250px 0 0 710px;
}